<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-bold" href="#">Milagros de Amor</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 gap-2">
        <li class="nav-item">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/adoptar" routerLink="/adoptar">Adoptar</a>
        </li>
     <ng-container *ngIf="isLoggedIn">
         <li class="nav-item">
            <a class="nav-link" href="/admin" routerLink="/admin">Mascotas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/formularios" routerLink="/admin">Formularios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Cerrar sesión</a>
          </li>
        </ng-container>
        <ng-container *ngIf="!isLoggedIn">
          <li class="nav-item">
            <a class="nav-link" href="/login" routerLink="/login">Iniciar sesión</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
<router-outlet />
